*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

/* 탭메뉴 꾸미기 */
.tab{
  width:1300px; 
  margin: auto;
  overflow: hidden;
  padding-bottom: 200px;
}
.tabnav{
  width:1300px; 
  overflow: hidden;
}
.tabnav li{
  float: left;
  width: 50%;
}
.tabnav li a{ 
  font-size: 18px; font-weight: 550;
  display: block;
  padding: 20px 0;
  text-align: center;
  border:1px solid #ddd;
  border-bottom: 1px solid #00aeef;
  position: relative;
  z-index: 2;
}

/* 탭메뉴 클릭했을 때 변화 꾸미기 */
.tabnav li .active{
  border: 1px solid #00aeef;
  border-bottom: 1px solid #fff;
}
.tabnav li a:hover,
.tabnav li a.active{
  background:#fff; 
  color:#00aeef; 
}

/* 탭컨테츠 꾸미기 */
.tabcontent{
  padding: 20px; 
  border-top:1px solid #00aeef; 
  position: relative;
  top: -1px;
  text-align: center;  
  width: 1300px;
}
.tabcontent li{padding-right: 10%;}

.tabcontent> div> div{width: 50%; text-align: center; float: left; 
   text-align: center; margin-top: 30px;}
.tabcontent p{margin-top: 20px;}